/* contact page: */

.contact-main {
    flex: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 calc(1.2*var(--rvv));
    gap: calc(0.6*var(--rvv));
    font-size: calc(0.8*var(--rvv));
}

.inline-newsletter {
    cursor: pointer;
    text-decoration: underline;
    font-weight: bold;
}

@media only screen and (min-width: 750px) {
    .inline-newsletter:hover {
        font-style: italic;
    }
}