/* homepage styling: */

.intro {
    font-size: calc(0.7*var(--rvv));
    width: 85vw;
    max-width: calc(18*var(--rvv));
    margin: 0 7.5vw 2vh;
    display: flex;
    gap: 2vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

.seasons {
    position: relative;
    bottom: calc(0.15*var(--rvv));
}

.contact,
.menu {
    display: flex;
    gap: calc(0.5*var(--rvv));
    max-width: 100vw;
    margin-bottom: var(--home-margin);
}

.contact-drawing-container,
.menu-drawing-container {
    height: var(--button-height);
    display: flex;
    align-items: center;
}

.contact-drawing {
    height: 90%;
}

.menu-drawing-container {
    margin-left: calc(0.3*var(--rvv));
}

.menu-drawing {
    height: 60%;
}

.contact-button,
.menu-button {
    height: var(--button-height);
    width: var(--button-width);
}

.contact-button,
.menu-button,
.newsletter-button {
    box-sizing: border-box;
    max-height: 40vw;
    max-width: 40vw;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Helico Centrica';
    font-size: calc(1.4*var(--rvv));
    text-align: center;
    padding: calc(0.5*var(--rvv));
    font-style: italic;
    cursor: pointer;
}

.contact-button {
    background-color: var(--creamy-blue);
    box-shadow: 0 0 15px var(--pink-glow); 
}

.menu-button {
    background-color: var(--patagonia-teal);
    box-shadow: 0 0 15px var(--pink-glow); 
}

.menu {
    margin-bottom: var(--home-margin);
}

.newsletter {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: calc(1.2*var(--home-margin));
    margin-bottom: calc(0.5*var(--home-margin));
    max-width: 80vw;
}

.newsletter-drawing-container {
    width: calc(1.8*var(--button-width));
}

.newsletter-drawing {
    width: 100%;
}

.newsletter-button {
    font-size: calc(var(--rvv));
    width: 100%;
    background-color: var(--asparagus-soup);
    box-shadow: 0 0 15px var(--pink-glow); 
    min-width: calc(1.2*var(--button-width));
    padding: 22px 5px 15px 5px;
}

/* desktop page effects: */

@media only screen and (min-width: 750px) {
    .contact-button:hover,
    .menu-button:hover,
    .newsletter-button:hover {
        transform: scale(1.1);
        filter: hue-rotate(90deg);
    }
}