html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

a,
a:hover,
a:focus {
    text-decoration: none;
    color: inherit;
}

:root {
    --pink-glow: rgb(240, 163, 198);
    --green-glow: rgb(47, 255, 0);
    --orange-glow: rgb(255, 106, 0);
    --creamy-blue: rgb(0, 115, 255);
    --patagonia-teal: rgb(56, 202, 185);
    --asparagus-soup: rgb(111, 212, 130);
    --egg: #ffd45320;
    --rvv: calc(1rem + 1vh + 1vw);
    --header-footer-height: calc(2*var(--rvv));
    --button-height: calc(5*var(--rvv));
    --button-width: calc(7*var(--rvv));
    --close-icon: calc(0.55*var(--rvv));
    --home-margin: calc(0.9*var(--rvv));
    --nav-button: calc(1.4*var(--rvv));
}

@font-face {
    font-family: 'Helico Centrica';
    src: url('../font/helico-centrica/helico-centrica-roman.ttf') format('truetype');
}

@font-face {
    font-family: 'Torre Farfan';
    src: url('../font/torrefarfan/torrefarfan.ttf') format('truetype');
}

.apostrophe {
    font-family: 'Times New Roman';
}

.graces-web-portal {
    color: blue;
    font-family: 'Helico Centrica';
    text-shadow: 0 0 5px var(--green-glow);
}

html,
body {
    min-width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    appearance: none;
    outline: none;
    font-family: 'Torre Farfan', 'Helvetica', 'Times New Roman', 'Open Sans', Arial;
}

.hide {
    display: none;
}

.wrapper {
    min-height: 100%;
    height: 100%;
}

.wrapper,
.main {
    flex: auto;
    min-width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: calc(var(--rvv));
}

/* header */

.unclickable {
    cursor: default !important;
}

header {
    margin-top: calc(0.5*var(--rvv));
    height: var(--header-footer-height);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: calc(0.7*var(--rvv));
    position: relative;
}

.header-logo {
    height: 100%;
    min-width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: calc(0.3*var(--rvv));
    cursor: pointer;
}

.header-logo img {
    height: 50%;
}

.header-drawing-container {
    margin-left: 0.5rem;
    height: 100%;
    max-width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-drawing-container img {
    height: 80%;
}

.hamburger-container {
    margin-left: 30vw;
    height: var(--nav-button);
    width: var(--nav-button);
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: var(--egg);
    padding: calc(0.1*var(--rvv));
    border-radius: 50%;
    box-shadow: 0 0 15px var(--pink-glow);
    border: 1px solid black;
}

.hamburger-container img {
    height: 80%;
}

/* nav bar: */

.nav {
    min-width: calc(70vw);
    max-width: calc(100vw - 2*var(--rvv));
    height: calc(3*var(--rvv));
    position: fixed;
    top: calc(var(--rvv));
    background-color: white;
    border: 1px solid blue;
    border-radius: 10px;
    box-shadow: 0 0 50px 40px rgba(246, 193, 217, 0.919); 
    padding: 0 calc(0.3*var(--rvv));
    z-index: 2;
}

.nav ul {
    color: blue;
    font-family: 'Helico Centrica';
    text-shadow: 0 0 5px var(--green-glow);
    font-size: calc(0.6*var(--rvv));
    list-style: none;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-left: calc(-0.1*var(--rvv));
}

.nav ul * {
    height: calc(var(--rvv));
}

.nav li {
    position: relative;
    cursor: pointer;
    width: calc(2.5*var(--rvv));
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav li:not(:last-child) {
    top: calc(0.07*var(--rvv));
}

.nav li:last-child {
    margin-left: 0;
}

.nav-contact {
    margin-right: calc(0.4*var(--rvv));
}

.nav-selected {
    filter: hue-rotate(90deg);
}

.nav-close {
    position: relative;
    min-height: var(--close-icon);
    max-height: var(--close-icon);
    min-width: var(--close-icon);
    max-width: var(--close-icon);
    border: 1px solid black;
    background-color: var(--egg);
    padding: calc(0.1*var(--rvv));
    border-radius: 50%;
    bottom: calc(0.8*var(--rvv));
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-close img {
    height: 100%;
    width: 100%;
    cursor: pointer;
}

/* footer: */

footer {
    min-height: var(--header-footer-height);
    max-height: var(2*calc(--rvv));
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: calc(0.4*var(--rvv));
    font-size: calc(0.5*var(--rvv));
    position: relative;
    margin-top: auto;
    margin-bottom: calc(0.3*var(--rvv));
}

footer .logo-container {
    height: calc(var(--header-footer-height) / 3);
    cursor: pointer;
    position: relative;
    top: calc(0.16*var(--rvv))
}

footer .logo {
    height: 100%;
}

.insta-container {
    background-color: var(--egg);
    padding: calc(0.3*var(--rvv));
    border-radius: 50%;
    box-shadow: 0 0 15px var(--pink-glow); 
    border: 1px solid black;
    height: calc(var(--header-footer-height) / 4);
    width: calc(var(--header-footer-height) / 4);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.insta-container img {
    height: 80%;
}

.footer-divider {
    margin: 0 calc(var(--rvv));
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-divider img {
    height: calc(var(--rvv));
}

.footer-drawing-2 {
    width: calc(1.3*var(--rvv));
    margin-left: calc(-0.3*var(--rvv));
}

/* coming soon image: */

.coming-soon {
    width: calc(10*var(--rvv));
}

/* desktop page effects: */

@media only screen and (min-width: 750px) {

    .nav ul {
        font-size: calc(0.8*var(--rvv));
    }

    .header-logo {
        /* transition: 0.1s ease-in-out; */
    }

    .header-logo:hover {
        transform: scale(1.1) rotate(-20deg);
    }

    .header-drawing {
        transition: 1s;
    }

    .header-drawing:hover {
        transform: rotate(-2.7turn);
    }

    .hamburger-container {
        transition: 0.2s ease-in-out;
    }

    .hamburger-container:hover {
        transform: scale(1.1);
    }

    .nav li:hover {
        color: var(--orange-glow);
    }

    .nav-close img {
        transition: 0.7s;
    }

    .nav-close img:hover {
        transform: rotate(5turn);
    }

    footer .logo:hover {
        transform: rotate(0.45turn);
    }

    .footer-drawing {
        transition: 0.9s;
    }

    .footer-drawing:hover {
        transform: rotate(2.7turn);
    }

    .insta-container {
        transition: 0.2s ease-in-out;
    }

    .insta-container:hover {
        transform: scale(1.2);
    }

    .nav li:last-child {
        margin-left: -3vw;
    }
}