html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

a,
a:hover,
a:focus {
    text-decoration: none;
    color: inherit;
}

:root {
    --pink-glow: rgb(240, 163, 198);
    --green-glow: rgb(47, 255, 0);
    --orange-glow: rgb(255, 106, 0);
    --creamy-blue: rgb(0, 115, 255);
    --patagonia-teal: rgb(56, 202, 185);
    --asparagus-soup: rgb(111, 212, 130);
    --egg: #ffd4534d;
    --rvv: calc(1rem + 1vh + 1vw);
    --header-footer-height: calc(2*var(--rvv));
    --button-height: calc(5*var(--rvv));
    --button-width: calc(7*var(--rvv));
    --close-icon: calc(1.5*var(--rvv));
}

@font-face {
    font-family: 'Helico Centrica';
    src: url('font/helico-centrica/helico-centrica-roman.ttf') format('truetype');
}

@font-face {
    font-family: 'Torre Farfan';
    src: url('font/torrefarfan/torrefarfan.ttf') format('truetype');
}

.apostrophe {
    font-family: 'Times New Roman';
}

html,
body {
    min-height: 100vh;
    min-width: 100vw;
    overflow-x: hidden;
    appearance: none;
    outline: none;
    font-family: 'Torre Farfan', 'Helvetica', 'Times New Roman', 'Open Sans', Arial;
}

.hide {
    display: none;
}

.wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: calc(.8vh + .5rem + 1vw);
}

header {
    min-width: 60%;
    max-width: 80%;
    display: grid;
    gap: .8rem;
    grid-template-columns: 1fr 1fr 6fr;
    grid-template-rows: var(--header-footer-height);
    grid-template-areas: "logo header-drawing hamburger";
    margin-top: calc(1rem + 1vw);
    margin-bottom: 0;
    align-items: center;
    justify-items: center;
}

.logo-container,
.header-drawing-container {
    height: 100%;
}

.logo-container {
    grid-area: logo;
    justify-self: end;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-right: calc(0.2*var(--rvv));
}

.logo {
    height: 50%;
    position: relative;
    top: calc(0.2*var(--rvv));
    transition: 0.6s ease-in-out;
}

.header-drawing-container {
    grid-area: header-drawing;
    justify-self: start;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: calc(0.2*var(--rvv));
}

.header-drawing {
    height: 70%;
    transition: 1s;
}

.hamburger-container {
    grid-area: hamburger;
    height: calc(var(--rvv));
    width: calc(var(--rvv));
    justify-self: end;
    align-self: center;
    cursor: pointer;
    background-color: var(--egg);
    padding: calc(0.3*var(--rvv));
    border-radius: 50%;
    box-shadow: 0 0 15px var(--pink-glow);
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hamburger {
    height: calc(var(--rvv));
    transition: 0.3s ease-in-out;
}

.nav {
    min-width: calc(70vw);
    max-width: calc(100vw - 2*var(--rvv));
    height: calc(3*var(--rvv));
    position: fixed;
    top: calc(var(--rvv));
    background-color: white;
    border: 1px solid blue;
    border-radius: 10px;
    box-shadow: 0 0 50px 40px rgba(246, 193, 217, 0.919); 
    padding: 0 calc(0.3*var(--rvv));
    z-index: 2;
}

.nav ul {
    color: blue;
    font-family: 'Helico Centrica';
    text-shadow: 0 0 5px var(--green-glow);
    font-size: calc(0.6*var(--rvv));
    list-style: none;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-left: calc(-0.1*var(--rvv));
}

.nav ul * {
    height: calc(var(--rvv));
}

.nav li {
    position: relative;
    cursor: pointer;
    width: calc(2.5*var(--rvv));
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav li:not(:last-child) {
    top: calc(0.07*var(--rvv));
}

.nav-contact {
    margin-right: calc(0.4*var(--rvv));
}

.nav-close {
    min-height: var(--close-icon);
    max-height: var(--close-icon);
    min-width: var(--close-icon);
    max-width: var(--close-icon);
}

.nav-close img {
    height: 100%;
    width: 100%;
    cursor: pointer;
    transition: .7s;
    filter: drop-shadow(0 0 4px var(--orange-glow));
}

/* left off here */

.intro {
    font-size: calc(0.7*var(--rvv));
    width: 85vw;
    max-width: 80rem;
    margin: 0 7.5vw 2vh;
    display: flex;
    gap: 2vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.graces-web-portal {
    color: blue;
    font-family: 'Helico Centrica';
    text-shadow: 0 0 5px var(--green-glow);
}

.p2 {
    margin-top: -1.5vh;
}

.contact,
.menu {
    display: flex;
    gap: 1rem;
    max-width: 100vw;
    margin-bottom: calc(2rem + 1vh);
}

.contact-drawing-container,
.menu-drawing-container {
    height: var(--button-height);
}

.contact-drawing,
.menu-drawing {
    height: 100%;
}

.contact-button,
.menu-button {
    height: var(--button-height);
    width: var(--button-width);
}

.contact-button,
.menu-button,
.email-button {
    max-height: 40vw;
    max-width: 40vw;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    font-family: Helvetica;
    font-weight: 300;
    font-style: italic;
    font-size: calc(1.5rem + 2vw);
    text-align: center;
    padding: 10px;
    /* transition: .2s; */
}

.contact-button:hover,
.menu-button:hover,
.email-button:hover {
    cursor: pointer;
    transform: scale(1.1);
    filter: hue-rotate(90deg);
}

.contact-button {
    background-color: var(--creamy-blue);
    box-shadow: 0 0 15px var(--pink-glow); 
}

.menu-button {
    background-color: var(--patagonia-teal);
    box-shadow: 0 0 15px var(--pink-glow); 
}

.menu {
    margin-bottom: calc(1rem + 1vh);
}

.email {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: calc(1rem + 1vh);
    max-width: 80vw;
}

.email-button {
    width: 100%;
    background-color: var(--asparagus-soup);
    box-shadow: 0 0 15px var(--pink-glow); 
}

.email-drawing-container {
    width: var(--button-width);
}

.email-drawing {
    width: 100%;
    margin-bottom: calc(2rem + 1vh);
}

.email-button {
    min-width: calc(1.2*var(--button-width));
    padding: 15px 5px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100vw;
    gap: .3rem;
    font-size: calc(.5vh + .5vw + .4rem);
    position: relative;
    margin-top: auto;
    margin-bottom: calc(1vw + .3rem);
}

/* @media only screen and (max-width: 600px) {
    .bump-footer {
        margin-bottom: 15vh;
    }
} */

footer .logo-container {
    height: calc(var(--header-footer-height) / 3);
    cursor: pointer;
    position: relative;
    top: .3rem;
}

footer .logo {
    height: 100%;
}

.insta-container {
    background-color: white;
    padding: calc(.2rem + .5vw + .5vh);
    border-radius: 50%;
    box-shadow: 0 0 15px rgb(240, 163, 198); 
    border: 1px solid black;
    height: calc(var(--header-footer-height) / 4);
    width: calc(var(--header-footer-height) / 4);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .5s;
}

@media only screen and (min-width: 600px) {
    .insta-container:hover {
        transform: scale(1.5);
    }
}

.insta-container img {
    height: 80%;
}

.footer-divider {
    margin: 0 5vw;
    height: 100%;
}

.footer-divider img {
    height: 2rem;
}

.email-img-container {
    width: calc(40vw + 100px);
}

.email-img-container img {
    width: 100%;
}

/* contact page: */

.contact-main {
    flex: auto;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-main img {
    width: calc(10rem + 10vh + 10vw);
}

/* event page */

.events-main {
    flex: auto;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.events-main img {
    width: calc(10rem + 10vh + 10vw);
}

/* menu page */

.menu-main {
    flex: auto;
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu-title {
    min-width: calc(10vw + 200px);
    max-width: calc(10vw + 250px);
    margin-bottom: calc(1.5rem + 1vw + 1vh);
}

.menu-item {
    min-width: calc(7vw + 200px);
    max-width: calc(9vw + 200px);
}

/* about page */

.about-main {
    flex: auto;
    height: 100%;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-main img {
    width: calc(10rem + 10vh + 10vw);
}



/* desktop page effects: */

@media only screen and (min-width: 750px) {

    .nav ul {
        font-size: calc(0.8*var(--rvv));
    }

    .logo:hover {
        transform: scale(1.2);
    }

    .header-drawing:hover {
        transform: rotate(-2.7turn);
    }

    .hamburger:hover {
        transform: rotate(1turn);
    }

    .nav li:hover {
        color: var(--orange-glow);
    }

    .nav-close img:hover {
        transform: rotate(5turn);
    }
}