html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

html,
body {
    appearance: none;
    outline: none;
    font-size: 100%;
    --header-footer-height: calc(3rem + 2vw);
    --button-height: calc(7rem + 5vw);
    --button-width: calc(2*(var(--button-height)));
}

body {
    max-width: 100vw;
    font-family: 'Torre Farfan', 'Helvetica', 'Times New Roman', 'Open Sans', Arial;
    font-weight: lighter;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: calc(.8vh + .5rem + 1vw);
}

@font-face {
    font-family: 'Helico Centrica';
    src: url('font/helico-centrica/helico-centrica-roman.ttf') format('truetype');
}

@font-face {
    font-family: 'Torre Farfan';
    src: url('font/torrefarfan/torrefarfan.ttf') format('truetype');
}

.apostrophe {
    font-family: 'Times New Roman';
}

header {
    width: 85vw;
    max-width: 700px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: var(--header-footer-height);
    margin-top: calc(1rem + 1vw);
    margin-bottom: 0;
}

.logo-container,
.header-drawing-container,
.hamburger-container {
    height: 100%;
}

header .logo-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.logo {
    height: 70%;
}

.header-drawing-container {
    display: flex;
    justify-content: center;
    position: relative;
}

.header-drawing {
    height: 60%;
    position: relative;
    left: 10px;
}

.hamburger-container {
    display: flex;
    justify-content: flex-end;
}

.hamburger {
    height: 60%;
}

.intro {
    font-size: calc(.9rem + 1vw);
    max-width: 1100px;
    margin: 0 10vw 2vh;
    display: flex;
    flex-direction: column;
    gap: 2.5vh;
}

.graces-web-portal {
    color: blue;
    font-family: 'Helico Centrica';
    font-size: 80%;
    text-shadow: 0 0 5px rgb(47, 255, 0);
}

.contact,
.menus {
    display: flex;
    gap: 1rem;
    max-width: 100vw;
}

.contact-drawing-container,
.menus-drawing-container {
    height: var(--button-height);
}

.contact-drawing,
.menus-drawing {
    height: 100%;
}

.contact-button,
.menus-button {
    height: var(--button-height);
    width: var(--button-width);
    max-height: 40vw;
    max-width: 40vw;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-button {
    box-shadow: 0 0 10px rgb(225, 109, 194); 
}

.menus-button {
    box-shadow: 0 0 10px rgb(227, 146, 93); 
}

footer {
    max-width: 100vw;
    height: var(--header-footer-height); 
}