html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

a,
a:hover,
a:focus {
    text-decoration: none;
    color: inherit;
}

html,
body {
    appearance: none;
    outline: none;
    font-size: 100%;
    --header-footer-height: calc(3rem + 2vw);
    --button-height: calc(7rem + 5vw);
    --button-width: calc(2*(var(--button-height)));
}

body {
    max-width: 100vw;
    font-family: 'Helvetica', 'Times New Roman', 'Open Sans', Arial;
    font-weight: lighter;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: calc(.8vh + .5rem + 1vw);
}

@font-face {
    font-family: 'Helico Centrica';
    src: url('font/helico-centrica/helico-centrica-roman.ttf') format('truetype');
}

@font-face {
    font-family: 'Torre Farfan';
    src: url('font/torrefarfan/torrefarfan.ttf') format('truetype');
}

.apostrophe {
    font-family: 'Times New Roman';
}

header {
    width: 85vw;
    max-width: 700px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: var(--header-footer-height);
    margin-top: calc(1rem + 1vw);
    margin-bottom: 0;
}

.logo-container,
.header-drawing-container,
.hamburger-container {
    height: 100%;
}

header .logo-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

header .logo {
    height: 70%;
    transition: .7s;
}

@media only screen and (min-width: 600px) {
    header .logo:hover {
        transform: scale(1.2);
    }
}

.header-drawing-container {
    display: flex;
    justify-content: center;
    position: relative;
}

.header-drawing {
    height: 60%;
    position: relative;
    left: 10px;
    transition: 1s;
}

@media only screen and (min-width: 600px) {
    .header-drawing:hover {
        transform: rotate(3turn);
    }
}

.hamburger-container {
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
}

.hamburger {
    height: 60%;
    transition: 0.5s;
}


@media only screen and (min-width: 600px) {
    .hamburger:hover {
        transform: rotate(0.5turn);
    }
}

.intro {
    font-size: calc(.9rem + 1vw);
    max-width: 1100px;
    margin: 0 10vw 2vh;
    display: flex;
    flex-direction: column;
    gap: 2.5vh;
}

.graces-web-portal {
    color: blue;
    font-family: 'Helico Centrica';
    text-shadow: 0 0 5px rgb(47, 255, 0);
}

.contact,
.menu {
    display: flex;
    gap: 1rem;
    max-width: 100vw;
    margin-bottom: calc(2rem + 1vh);
}

.contact-drawing-container,
.menu-drawing-container {
    height: var(--button-height);
}

.contact-drawing,
.menu-drawing {
    height: 100%;
}

.contact-button,
.menu-button {
    height: var(--button-height);
    width: var(--button-width);
}

.contact-button,
.menu-button,
.email-button {
    max-height: 40vw;
    max-width: 40vw;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    font-family: Helvetica;
    font-weight: 300;
    font-style: italic;
    font-size: calc(1.5rem + 2vw);
    text-align: center;
    padding: 10px;
    /* transition: .2s; */
}

.contact-button:hover,
.menu-button:hover,
.email-button:hover {
    cursor: pointer;
    transform: scale(1.1);
    filter: hue-rotate(90deg);
}

.contact-button {
    background-color: rgba(69, 180, 61, 0.382);
    box-shadow: 0 0 15px rgb(240, 163, 198); 
}

.menu-button {
    background-color: rgba(92, 109, 195, 0.493);
    box-shadow: 0 0 15px rgba(219, 121, 55, 0.909); 
}

.menu {
    margin-bottom: calc(1rem + 1vh);
}

.email {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: calc(1rem + 1vh);
    max-width: 80vw;
}

.email-button {
    width: 100%;
    background-color: rgba(230, 45, 45, 0.534);
    box-shadow: 0 0 15px rgb(60, 122, 193);
}

.email-drawing-container {
    width: var(--button-width);
}

.email-drawing {
    width: 100%;
    margin-bottom: calc(2rem + 1vh);
}

.email-button {
    min-width: calc(1.2*var(--button-width));
    padding: 15px 5px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100vw;
    gap: .3rem;
    font-size: calc(.5vh + .5vw + .4rem);
    position: relative;
    margin-top: calc(1vw + 1rem);
    margin-bottom: calc(1vw + .3rem);
}

footer .logo-container {
    width: calc(2rem + 2vw);
    position: relative;
    top: calc(.2rem + .2vw);
}

footer .logo {
    width: 100%;
}

.footer-divider {
    margin: 0 5vw;
    height: 100%;
}

.footer-divider img {
    height: 1rem;
}