.event-flyer {
    height: 50vh;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .event-text {
        text-align: center;
        font-family: 'Helico Centrica';
        font-size: calc(0.6*var(--rvv));
        font-style: italic;
    }

    .event-flyer-img {
        border: 0.5px solid black;
        height: 100%;
    }
}

@media screen and (min-width: 600px) {

    .event-flyer {
        height: 60vh;
    }
    
}