.footer {
    margin-top: auto;
    padding-bottom: calc(0.5*var(--rvv));
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;

    .footer-drawing {
        max-width: 35px;
        max-height: 35px;
    }

    .email {
        margin-top: 10px;
        font-size: calc(0.6*var(--rvv));
    }
}

@media screen and (min-width: 600px) {
    .footer {

        .footer-drawing {
            transition: transform 0.8s ease-in-out;
        }

        .footer-drawing-1:hover {
            transform: rotate(900deg);
        }

        .footer-drawing-2:hover {
            transform: rotate(-650deg);
        }
        
        .email {
            transition: 
                color var(--hover-transition),
                text-shadow var(--hover-transition);
        }

        .email:hover {
            color: rgb(0, 0, 189);
            text-shadow: 0 0 5px red;
        }
    }
}