// colors:
$nav-green: #489d35;

// values:
$desktop-margin: 20vw;

.nav-bar {
    height: calc(2*var(--rvv));
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(115,172,101);
    background: linear-gradient(90deg, rgba(115,172,101,1) 0%, rgba(130,188,117,1) 100%);

    .logo-container {
        margin-top: calc(0.4*var(--rvv));
        margin-left: calc(0.5*var(--rvv));
        width: 20vw;
        max-width: 80px;

        .logo-img {
            width: 100%;
        }
    }

    .nav-drawing {
        height: 80%;
        margin-left: calc(0.4*var(--rvv));
        margin-right: auto;
        
        .nav-drawing-img {
            height: 100%;
        }
    }

    .about-link {
        font-family: 'Helico Centrica';
        font-size: 2rem;
        color: white;
        text-decoration: none;
        margin-right: calc(0.5*var(--rvv));
    }
}


// desktop:
@media screen and (min-width: 600px) {
    .nav-bar {
        justify-content: center;

        .logo-container {
            margin-left: $desktop-margin;
        }

        .nav-drawing {
            transition: transform 0.8s ease-in-out;
        }

        .nav-drawing:hover {
            transform: rotate(1300deg);
        }

        .about-link {
            margin-right: $desktop-margin;
        }
    }
}