// colors:
$nav-green: #489d35;

// values:
$lr-margin: 10vw;

.nav-bar {
    padding: calc(0.3*var(--rvv));
    height: calc(2*var(--rvv));
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #506743;
    // background: rgb(115,172,101);
    // background: linear-gradient(90deg, rgba(115,172,101,1) 0%, rgb(99, 157, 86) 100%);

    .logo-container {
        margin-top: calc(0.4*var(--rvv));
        margin-left: $lr-margin;
        width: 20vw;
        max-width: 80px;

        .logo-img {
            width: 100%;
        }
    }

    .nav-drawing {
        height: 80%;
        margin-left: calc(0.4*var(--rvv));
        margin-right: auto;
        
        .nav-drawing-img {
            height: 100%;
        }
    }

    .about-link {
        font-family: 'Helico Centrica';
        font-size: 2rem;
        color: white;
        text-decoration: none;
        margin-right: $lr-margin;
    }
}


// desktop:
@media screen and (min-width: 600px) {
    .nav-bar {

        .nav-drawing {
            transition: transform 0.8s ease-in-out;
        }

        .nav-drawing:hover {
            transform: rotate(1300deg);
        }

        .logo-container,
        .about-link {
            transition: transform var(--hover-transition);
        }

        .logo-container:hover,
        .about-link:hover {
            transform: scale(1.15);
        }

    }
}