.welcome-screen {
    width: 100vw;
    margin-top: calc(2*var(--rvv));
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: calc(0.6*var(--rvv));
    background-color: white;

    .logo-container {
        width: 15vw;
        max-width: 100px;

        .logo-img {
            // margin-left: calc(0.1*var(--rvv));
            width: 100%;
        }
    }

    .welcome-drawing-container {
        height: 50vh;
        min-height: 500px;

        .welcome-drawing-img {
            border: 0.5px solid black;
            height: 100%;
        }
    }

    .click-to-enter {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-end;

        .click-to-enter-text {
            margin-left: calc(0.25*var(--rvv));
            width: fit-content;
            cursor: pointer;
            padding: 3px;
            text-align: center;
            font-size: calc(0.8*var(--rvv));
        }
    }
}

// desktop:
@media screen and (min-width: 600px) {
    .welcome-screen {
        align-self: center;

        .welcome-drawing-container {
            height: 60vh;
        }

        .click-to-enter-text {
            transition:
                color var(--hover-transition),
                text-shadow var(--hover-transition),
                transform var(--hover-transition);
        }

        .click-to-enter-text:hover {
            color: rgb(0, 0, 189);
            text-shadow: 0 0 5px red;
            transform: scale(1.1);
        }
    } 
}